
<section data-ng-controller="HomeController">
	<section class="startpage">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h1 class="hidden-xs startpage-headline super-big text-uppercase text-center" style="font-size: 8em;">
						<span style=" padding-bottom: 5 px;">
							Jacob K. Smullin
						</span>
					</h1>
					<h3 class="text-center text-uppercase visible-xs" style="color: white;">
						<span style=" padding-bottom: 5 px;">
							Jacob K. Smullin
						</span>
					</h3>
					<h5 style="font-family: 'Lato', sans-serif; font-weight: 300; color: white;" class="text-center text-uppercase">
						Powered By
					</h5>
					<h2 class="startpage-headline2">
						<img alt="MEAN.JS" class="img-responsive text-center center-block" src="modules/core/img/brand/logo.png">
					</h2>
					<div class="row">
						<div class="col-xs-12 col-lg-8 col-lg-offset-2">
							<div class="startpage-panel text-center"style="margin-bottom: 20px;">
								<div style="vertical-aligh: top; margin-left: auto; margin-right: auto; padding: 15px;">
									<div>
										<h3 class="hidden-xs startpage-text">
											Welcome to JacobSmullin.com feel free to contact me, enjoy!
										</h3>
										<h6 class="visible-xs startpage-text" style="font-size: 18px;">
											Welcome to JacobSmullin.com feel free to contact me, enjoy!
										</h6>
									</div>
									<div style="padding-top: 10px;">
										<h3 class="hidden-xs startpage-text">
											Want to interact with me, and other members interested in gaming/ computer science? Sign up and join the blog!
										</h3>
										<h6 class="visible-xs startpage-text" style="font-size: 18px;">
											Want to interact with me, and other members interested in gaming/ computer science? Sign up and join the blog!
										</h6>
									</div>
									<div class="text-center" style="maring-top: 30px; margin-bottom: 10px; margin-top: 20px;">
										<a href="/#!/signup" class="btn btn-lg action-button startpage-button"title ="Sign Up!">
											Sign Up Today!
										</a>
									</div>
								</div>
							</div>



							<!--
							<div class="input-group" style="padding-bottom: 20px;">
								<input id="searchinput" ng-model="search.keyword" type="text" class="form-control startpage-input ng-pristine ng-untouched ng-valid" placeholder="Search JacobSmullin.com by keywords!" onkeypress="if(event.which == 13) triggerClick('searchbutton')">
								<span class="input-group-btn">
									<button id="searchbutton" ng-click="goToSearchResults()" class="btn btn-info startpage-input">
										Search
									</button>
								</span>
							</div>
						-->
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!--
		<div class="arrow-down animate-up-down hidden-xs hidden-sm hidden-md" onclick="scrollToElement('software',-50)">
		</div>
	-->
	</section>





<!--
	<div>
		<div class="row">
			<h1 class="text-center super-big text-uppercase hidden-xs">Jacob K. Smullin</h1>
			<h3 class="text-center text-uppercase visible-xs">Jacob K. Smullin</h3>
		</div>
		<div class="row">
			<h5  style="font-family: 'Lato', sans-serif; font-weight: 300;" class="text-center text-uppercase">Powered by</h5>
			<img alt="MEAN.JS" class="img-responsive text-center center-block" src="modules/core/img/brand/logo.png">
		</div>
	</div>
	</div>
-->	
	<div>
		<section class="hidden-xs" id="tiles">
							    <div style="display: table; width: 100%;">
							        <div class="tile tile1"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://thewitcher.com/" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tile tile2"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://www.xbox.com/en-us/games/halo-5-guardians" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tile tile3"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://us.battle.net/wow/en/" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tile tile4"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://www.lionhead.com/games/fable/" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							    </div>
							</section>
		<section class="visible-xs" id="tiles">
							    <div style="display: table; width: 100%;">
							        <div class="tileMobile tile tile1"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="https://www.youtube.com/watch?v=kHV7gOHvNdk" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tileMobile tile tile2"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://www.xbox.com/en-us/games/halo-5-guardians" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tileMobile tile tile3"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://us.battle.net/wow/en/" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							        <div class="tileMobile tile tile4"><div class="col-xs-12 text-center" style="padding-top: 145px;">
				<a target="_blank" href="http://www.lionhead.com/games/fable/" class="btn btn-lg info-button2">Start playing!</a>
			</div></div>
							    </div>
							</section>
							<section id="howto" style="padding-top: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" style="text-align: center;">
                <div class="text-muted text-uppercase fontHeadline">
                    <h3><font><font>So you'll find your game</font></font></h3>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
            <div class="col-xs-12 col-md-4 column-padding-bottom-lg" style="text-align: center;">
                <div class="numberCircle" style="margin-left: auto; margin-right: auto;"><font><font>1</font></font></div>
                <div class="text-center" style="margin-top: 20px;">
                    <img src="/modules/core/img/brand/step1.png" alt="step 1" style="height: 140px;">
                </div>
                <div class="text-center fontSizeXXLarge" style="margin-top: 10px;"><font><font>Enter a device/ operating system</font></font></div>
            </div>
            <div class="col-xs-12 col-md-4 column-padding-bottom-lg" style="text-align: center;">
                <div class="numberCircle" style="margin-left: auto; margin-right: auto;"><font><font>2</font></font></div>
                <div class="text-center" style="margin-top: 20px;">
                    <img src="/modules/core/img/brand/step2.png" alt="Step 2" style="height: 140px;">
                </div>
                <div class="text-center fontSizeXXLarge" style="margin-top: 10px;"><font><font>Select the category</font></font></div>
            </div>
            <div class="col-xs-12 col-md-4 column-padding-bottom-lg" style="text-align: center;">
                <div class="numberCircle" style="margin-left: auto; margin-right: auto;"><font><font>3</font></font></div>
                <div class="text-center" style="margin-top: 20px;">
                    <img src="/modules/core/img/brand/step3.png" alt="Step 3" style="height: 140px;">
                </div>
                <div class="text-center fontSizeXXLarge" style="margin-top: 10px;"><font><font>Make a decision based off reviews</font></font></div>
            </div>
        </div>
    </div>
</section>
<section style="background: #f5f6fa; border-top: 1px solid #e7e7e8; padding-top: 40px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12" style="text-align: center;">
                <div class="hidden-xs fontSizeXXXLarge"><font><font>
                    Have a passion for gaming and software development?
                </font></font></div>
                <div class="visible-xs" style="font-size: 18px;"><font><font>
                    Have a passion for gaming and software development?
                </font></font></div>
                <div class="text-center" style="margin-top: 10px;">
                    <a target="_blank" href="http://blog.zenput.com/6-steps-to-becoming-a-software-developer" class="btn btn-lg action-button2"><font><font>Get started today!</font></font></a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
		<!--
		<h2 class="text-center hidden-xs">Welcome to JacobSmullin.com feel free to contact me, enjoy!</h2>
		<h4 class="text-center visible-xs">Welcome to JacobSmullin.com feel free to contact me, enjoy!</h4>
	-->
		<!--
		<ul style="padding-left:200px;" class="hidden-xs">
			<li>
				Navigate through everything I find interesting!
			</li>
			<li>
				Learn as much as you can with my tutorials and videos!
			</li>
			<li>
				Create and edit your user account for the forums and calendar.
			</li>
			<li>
				Interact with an up-to-date google calendar representing my schedule.
			</li>
			<li>
				View my current resume.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
		<ul class="visible-xs">
			<li>
				Navigate through everything I find interesting!
			</li>
			<li>
				Learn as much as you can with my tutorials and videos!
			</li>
			<li>
				Create and edit your user account for the forums and calendar.
			</li>
			<li>
				Interact with an up-to-date google calendar representing my schedule.
			</li>
			<li>
				View my current resume.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	-->
	<div class="container">
		<div class="row">
			<div id="software" class="col-xs-12 text-center">
				<h2>The software</h2>
				<p>Here is where you can find all the info needed about the software I used.</p>
			</div>
		</div>
		<div class="row" style="padding-top: 15px;">
			<div class="col-xs-12 col-md-5 col-md-offset-1" style="vertical-align: middle;">
				<div class="content-info clearfix media">
					<img src="/modules/core/img/brand/mongodb.png" class="pull-right" alt="MongoDB" title="MongoDB">
		<blockquote style="border: none;">
			<div class="hidden-xs">
			<h3><strong>M</strong>ongoDB</h3>
			<p style="text-wrap: normal; font-size: 11pt;">
			<a target="_blank" href="http://mongodb.org/">MongoDB</a>is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class ="visible-xs">
			<h4><strong>M</strong>ongoDB</h4>
			<p style="text-wrap: normal; font-size: x-small;">
			<a target="_blank" href="http://mongodb.org/">MongoDB</a>is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		</blockquote>
				</div>
			</div>
			<div class="col-xs-12 col-md-5" style="vertical-align: middle;">
				<div class="content-info clearfix media">
					<img src="/modules/core/img/brand/express.png" class="pull-right" alt="Picture of Jacob Smullin" title="Express">
		<blockquote style="border: none;">
			<div class="hidden-xs">
			<h3><strong>E</strong>xpress</h3>
			<p style="text-wrap: normal; font-size: 11pt;">
			<a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class ="visible-xs">
			<h4><strong>E</strong>xpress</h4>
			<p style="text-wrap: normal; font-size: x-small;">
			<a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		</blockquote>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 30px;">
			<div class="col-xs-12 col-md-5 col-md-offset-1" style="vertical-align: middle;">
				<div class="content-info clearfix media">
					<img src="/modules/core/img/brand/angular.png" class="pull-right" alt="Picture of Jacob Smullin" title="AngularJS">
		<blockquote style="border: none;">
			<div class="hidden-xs">
			<h3><strong>A</strong>ngularJS</h3>
			<p style="text-wrap: normal; font-size: 11pt;">
			AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class ="visible-xs">
			<h4><strong>A</strong>ngularJS</h4>
			<p style="text-wrap: normal; font-size: x-small;">
			AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		</blockquote>
				</div>
			</div>
			<div class="col-xs-12 col-md-5" style="vertical-align: middle;">
				<div class="content-info clearfix media">
					<img src="/modules/core/img/brand/nodejs.png" class="pull-right" alt="Picture of Jacob Smullin" title="NodeJS">
		<blockquote style="border: none;">
			<div class="hidden-xs">
			<h3><strong>N</strong>ode.js</h3>
			<p style="text-wrap: normal; font-size: 11pt;">
			<a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
		<div class ="visible-xs">
			<h4><strong>N</strong>ode.js</h4>
			<p style="text-wrap: normal; font-size: x-small;">
			<a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
		</blockquote>
				</div>
			</div>
		</div>
		<div class ="row" style="padding-top: 40px;">
			<div class="col-xs-12 text-center">
				<a target="_blank" href="https://www.youtube.com/watch?v=kHV7gOHvNdk" class="btn btn-lg info-button">Learn more</a>
			</div>
		</div>

		<div class="row" style="padding-top: 100px; padding-bottom: 40px;">
			<div class="col-sm-6 cold-md-6" style="vertical-align: middle;">
				<div class="content-heading clearfix media">
					<img src="/modules/core/img/brand/myPhoto.png" class="img-circle pull-right" style="padding:0; border: 1px solid #e7e7e8;" alt="Picture of Jacob Smullin" title="Picture of Jacob Smullin">
		<blockquote style="border: none; padding-right:110px;">
			<p style="text-align: right;">
				""Honestly all I can think per the moment is the sad fact of how long it really took me to make this blockquote circle...""
			</p>
			<footer style="text-align: right;">
				"Jacob Smullin"
			</footer>
		</blockquote>
	</div>
</div>
		<div class="col-sm-6 cold-md-6" style="vertical-align: middle;">
				<div class="content-heading clearfix media">
					<img src="/modules/core/img/brand/me2.png" class="img-circle pull-left" style="padding:0; border: 1px solid #e7e7e8;" alt="Picture of Jacob Smullin" title="Picture of Jacob Smullin">
		<blockquote style="border: none; padding-left:110px;">
			<p style="text-align: left;">
				""Honestly all I can think per the moment is the sad fact of how long it really took me to make this blockquote circle...""
			</p>
			<footer style="text-align: right;">
				"Jacob Smullin"
			</footer>
		</blockquote>
	</div>
</div>
</div>
	</div>
	<section class="hidden-xs" style="background: #f5f6fa; border-top: 1px solid #e7e7e8; padding-top: 40px; padding-bottom: 40px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12" style="text-align: center;">
					<div style="display: inline-block; margin: 15px;">
						<a href="http://stackoverflow.com/">
							<img src="/modules/core/img/brand/stackoverflow.png" alt="Stack Overflow" style="width: 200px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.microsoft.com/en-us/">
							<img src="/modules/core/img/brand/microsoft.png" alt="Microsoft" style="max-width: 200px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="https://www.google.com/">
							<img src="/modules/core/img/brand/google.png" alt="Google" style="max-width: 200px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.apple.com/">
							<img src="/modules/core/img/brand/apple.png" alt="Apple" style="max-width: 60px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://us.blizzard.com/en-us/">
							<img src="/modules/core/img/brand/blizzard.png" alt="Blizzard" style="max-width: 150px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.sony.com/">
							<img src="/modules/core/img/brand/sony.png" alt="Sony" style="max-width: 130px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.xbox.com/en-US/">
							<img src="/modules/core/img/brand/xbox.png" alt="Sony" style="max-width: 60px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.teslamotors.com/modelx">
							<img src="/modules/core/img/brand/tesla.png" alt="Tesla" style="max-width: 150px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.android.com/">
							<img src="/modules/core/img/brand/android.png" alt="Android" style="max-width: 100px;">
						</a>
					</div>
					<div style="display: inline-block; margin: 15px;">
						<a href="http://www.youtube.com/">
							<img src="/modules/core/img/brand/youtube.png" alt="Youtube" style="max-width: 100px;">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--
	<div>
		<h2 style="font-family: 'Lato', sans-serif; font-weight: 500;" class="text-center">MEAN.JS Documentation</h2>
			<ul style="font-family: 'Lato', sans-serif; font-weight: 300; padding-left:405px;">
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	-->
</section>

