<section data-ng-controller="CalendarController">
	<div class="row text-center">
		<h1 style="font-family: 'Lato', sans-serif; font-weight: 300;">Need Jacob? <small class="text-capitalize">The calendar knows all!</small></h1>
		<h5 style="font-family: 'Lato', sans-serif; font-weight: 300;" class="text-capitalize">To make an appointment, open your calendar of choice and send me a message to arrange a meeting! <small><a target="_blank" href="https://www.google.com/search?client=ubuntu&channel=fs&q=How+to+send+a+calendar+invite&ie=utf-8&oe=utf-8#safe=off&channel=fs&q=How+to+send+a+calendar+invite">How do I do that?</a></small></h5>
		<span style="font-family: 'Lato', sans-serif; font-weight: 400;">This calendar is on Pacific Time (UTC-08:00), Los Angeles time.</span>
		<hr>
	</div>
	<div class="row">
		<iframe class="center-block" src="https://www.google.com/calendar/embed?mode=WEEK&src=Jacob.Smullin%40gmail.com&ctz=America/Los_Angeles" style="border: 0" width="{{calendarWidth}}" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>
