<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	<link rel="stylesheet" href="dist/application.min.css">

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>
	<footer id="pagefooter" ng-controller="FooterController">
            <div class="container" class="positionRelative">
                <div class="row">
                    <div class="footerItem">
                        <a href="/#!/cool-things" title="Look at all this cool stuff!">Cool Stuff</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="/#!/resume" title="View my current resume online.">Online Resume</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="/#!/calendar" title="Check out my personal calendar.">My calendar</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="/#!/users" title="Sign in.">Sign In</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="/#!/signup" title="Sign up.">Sign Up</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="/#!/password/forgot" title="Recover your password.">Password recovery</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a target ="_blank" href="https://github.com/Jake-Smullin" title="Check out my GitHub.">My GitHub</a>
                    </div>
                    <div class="footerItem">
                        &middot;
                    </div>
                    <div class="footerItem">
                        <a href="mailto:js.1992@live.com" title="Contact me via email.">Contact</a>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="footerItem">
                        <a href="//www.facebook.com/jacobsmullin">
                            <img src="https://vitaliator.com/img/icons/facebook_icon.png" alt="Facebook" title="Facebook" class="footerIcon" onmouseover="this.src = 'https://vitaliator.com/img/icons/facebook_icon_hover.png'" onmouseout="this.src = 'https://vitaliator.com/img/icons/facebook_icon.png'">
                        </a>
                    </div>
                    <div class="footerItem" ng-show="false">
                        <a href="//google.com">
                            <img src="https://vitaliator.com/img/icons/google_plus_icon.png" alt="Google Plus" title="Google" class="footerIcon" onmouseover="this.src = 'https://vitaliator.com/img/icons/google_plus_icon_hover.png'" onmouseout="this.src = 'https://vitaliator.com/img/icons/google_plus_icon.png'">
                        </a>
                    </div>
                    <div class="footerItem">
                        <a href="//twitter.com">
                            <img src="https://vitaliator.com/img/icons/twitter_icon.png" alt="Twitter" title="Twitter" class="footerIcon" onmouseover="this.src = 'https://vitaliator.com/img/icons/twitter_icon_hover.png'" onmouseout="this.src = 'https://vitaliator.com/img/icons/twitter_icon.png'">
                        </a>
                    </div>
                    <div class="footerItem">
                        <a href="//instagram.com">
                            <img src="https://vitaliator.com/img/icons/instagram_icon.png" alt="Instagram" title="Instagram" class="footerIcon" onmouseover="this.src = 'https://vitaliator.com/img/icons/instagram_icon_hover.png'" onmouseout="this.src = 'https://vitaliator.com/img/icons/instagram_icon.png'">
                        </a>
                    </div>
                    <div class="footerItem">
                        <a href="//pinterest.com">
                            <img src="https://vitaliator.com/img/icons/pinterest_icon.png" alt="Pinterest" title="Pinterest" class="footerIcon" onmouseover="this.src = 'https://vitaliator.com/img/icons/pinterest_icon_hover.png'" onmouseout="this.src = 'https://vitaliator.com/img/icons/pinterest_icon.png'">
                        </a>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    &copy; {{ currentYear}} - Jacob K. Smullin - All Rights Reserved
                </div>
            </div>
            <div class="positionAbsolute hidden-xs hidden-sm" style="right: 30px; top: 25px;">
                <img src="https://vitaliator.com/img/worldmap.png" alt="Weltkarte mit einer Markierung von Österreich" title="Der Ursprung von Vitaliator befindet sich in Österreich">
            </div>
        </footer>
    </div>

	</footer>
	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<!--
	<script type="text/javascript" src="https://{{request.hostname}}:35729/livereload.js"></script>
	-->
	{% endif %}
</body>

</html>